/* max-width */
@media only screen and (max-width: 1399px) {
    .col-customer{
        max-height: 632px;
    }
}

@media only screen and (max-width: 1199px) {
    .display-3 {
        font-size: 3rem !important;
    }

    .machine-widget {
        display: none;
    }

    .col-customer{
        max-height: 550px;
    }
}

@media only screen and (max-width: 991px) {
    .display-3 {
        font-size: 2.5rem !important;
    }

    .col-customer{
        max-height: 450px;
    }
    .nut-wrapper:nth-child(1) {
        top: 120px;
    }
    .nut-wrapper:nth-child(2) {
        top: 90px;
    }
    .nut-wrapper:nth-child(3) {
        top: 70px;
    }

    .push-pull-container {
        padding: 50px 0;
    }
    .title {
        font-size: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .title {
        font-size: 35px;
    }
    
    .home-title {
        font-size: 45px;
    }

    .line {
        width: 0;
    }

    /* .top-border {
        border-top: none;
    }
    
    .bottom-border {
        border-bottom: none;
    } */

    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding: 15px 25px !important;
    }

    .section-padding {
        padding: 50px 15px;
    }
    
    .section-padding-lg {
        padding: 100px 15px;
    }

    .machine-widget {
        display: block;
    }

    /* .image-button {
        position: absolute !important;
    } */

    .solutions {
        position: static !important;
        border: 1px solid #eee;
    }

    .col-customer{
        max-height: 800px;
    }
    .nut-container {
        height: 700px;
    }
    .nut-wrapper:nth-child(1) {
        top: 150px;
    }
    .nut-wrapper:nth-child(2) {
        top: 70px;
    }
    .nut-wrapper:nth-child(3) {
        top: 20px;
    }

    .client {
        padding: 13px;
    }

    .history-container {
        padding: 50px 60px !important;
    }
    .history-container-right {
        padding: 50px 60px !important;
    }

    .solution-image-1 {
        margin-top: 50px;
    }
    
    .solution-image-2 {
        margin-top: 50px;
    }

    .solutions-img1-margin {
        margin-top: 0px;
    }
    
    .solutions-img2-margin {
        margin-top: 0px;
    }

    .machine-img1-margin {
        margin-top: 0px;
    }
    
    .machine-img2-margin {
        margin-top: 0px;
    }

    .company-strength-padding {
        padding-bottom: 100px;
    }

    .company-strength-margin-1 {
        margin-top: 0;
    }
    
    .company-strength-margin-3 {
        margin-top: 0;
    }

    .become-a-customer {
        bottom: 65px;
        left: 40px;
        padding-right: 60px;
    }

    .customer-arrow {
        left: 25px;
        bottom: 15px;
    }

    .image-button {
        position: absolute !important;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
    }
    .image-container {
        position: relative;
        /* padding-top: 58px; */
    }

    .solution-banner-padding{
        padding: 20px 0;
    }
}

@media only screen and (max-width: 575px) {
    .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

@media only screen and (max-width: 460px) {
    .col-customer{
        max-height: 600px;
    }
    .nut-container {
        height: 600px;
    }
    .nut-wrapper:nth-child(1) {
        top: 150px;
    }
    .nut-wrapper:nth-child(2) {
        top: 90px;
    }
    .nut-wrapper:nth-child(3) {
        top: 60px;
    }
}

@media only screen and (max-width: 430px) {
    .machine-widget {
        display: none;
    }
}

@media only screen and (max-width: 380px) {
    .col-customer{
        max-height: 400px;
    }
    .nut-container {
        height: 400px;
    }
    .nut-wrapper:nth-child(1) {
        top: 70px;
    }
    .nut-wrapper:nth-child(2) {
        top: 30px;
    }
    .nut-wrapper:nth-child(3) {
        top: 10px;
    }
}

/* min-width */
@media (min-width: 1400px) {
    .container {
      max-width: 1320px !important;
    }
}

@media only screen and (min-width: 768px) {
    .sticky-logo {
        width: 60px;
        display: block;
        position: sticky;
        top: 40%;
        left: 50%;
        transform: translate(-50%, 50px);
    }

    .solution-banner{
        position:absolute;
        bottom:15%;
        right: 12%;
    }

    .horizontal-line {
        display: block;
    }
}