.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 10px 25px;
}

.logo img {
    width: auto;
    max-height: 50px;
}

nav {
    display: flex;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    padding: 6px 20px;
    height: 100%;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-links a.active {
    color: #0c73b2;
}

.nav-links a:hover {
    color: #0c73b2;
    text-decoration: none;
}

.first-nav {
    color: black;
    text-decoration: none;
    font-size: 16px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 300 !important;
    letter-spacing: 1px;
}

.first-nav.active {
    color: #0c73b2;
}

.first-nav:hover {
    color: #0c73b2;
    text-decoration: none;
}

#company-nav,
#solutions-nav,
#products-nav {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#company-nav.show,
#solutions-nav.show,
#products-nav.show {
    display: block;
    opacity: 1;
}

#company-link,
#solutions-link,
#products-link {
    position: relative;
}

#company-link::after,
#solutions-link::after,
#products-link::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    /* extend hover area down */
    height: 20px;
}

.menu-wrap {
    position: absolute;
    background-color: white;
    z-index: 10;
    width: 100%;
    height: 265px;
}

.menu-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-nav {
    display: none;
}

.mobile-nav {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    background-color: black;
}

.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.drop-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

html {
    font-size: 16px;
}

.slash-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 4px;
}

h1 {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    color: #444 !important;
}

.title {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
}

.title-no-transform {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
}

.home-title {
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.2;
    font-weight: 200;
}

body {
    font-family: "Roboto" !important;
    color: black !important;
    overflow-x: hidden !important;
}

p {
    font-size: 16px !important;
    font-weight: 300;
    color: #444;
}

p.text-white {
    color: #fff !important;
}

.text-white,
.text-white * {
    color: #fff;
}

a {
    font-size: 16px !important;
    font-weight: 300 !important;
}

h3 {
    font-size: 1.7rem !important;
    font-weight: 300 !important;
}

.slogan {
    font-size: 17px !important;
    font-weight: bold;
}

.button {
    letter-spacing: 1px;
}

.container {
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #eee;
}

.line-left {
    left: 0;
}

.line-1-3 {
    left: 33.33%;
}

.line-2-3 {
    left: 66.67%;
}

.line-1-3-lg {
    left: 33.33%;
}

.line-2-3-lg {
    left: 66.67%;
}

.line-right {
    right: 0;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-right: 25px !important;
    padding-left: 25px !important;
}

.row {
    margin-right: -25px !important;
    margin-left: -25px !important;
}

.section-padding {
    padding: 50px 25px;
}

.section-padding-lg {
    padding: 100px 25px;
}

.padding-top {
    padding-top: 100px !important;
}

.padding-bottom {
    padding-bottom: 100px !important;
}

.padding-top-5 {
    padding-top: 50px !important;
}

.text-color {
    color: #0c73b2;
}

.banner {
    width: 100%;
    position: relative;
    display: inline-block;
    transition: transform 0.2s ease;
    height: auto;
    min-height: 400px;
    object-fit: cover;
}

.banner-container {
    position: relative;
    transition: background-size 0.2s ease;
    overflow: hidden;
    min-height: 400px;
}

.image-container {
    position: relative;
    transition: background-size 0.2s ease;
    overflow: hidden;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.image-button {
    color: white;
    align-items: center;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    background-color: black;
    position: absolute !important;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: color 0.4s ease;
    text-decoration: none !important;
}

.image-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0c73b2;
    transition: left 0.4s ease;
    z-index: 0;
}

.image-button:hover::before {
    left: 0;
}

.image-button:hover {
    color: white;
}

.image-button div {
    position: relative;
    z-index: 1;
}

.image-button-white {
    color: black;
    align-items: center;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    background-color: white;
    position: absolute !important;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: color 0.4s ease;
    text-decoration: none !important;
}

.image-button-white::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0c73b2;
    transition: left 0.4s ease;
    z-index: 0;
}

.image-button-white:hover::before {
    left: 0;
}

.image-button-white:hover {
    color: white;
}

.image-button-white div {
    position: relative;
    z-index: 1;
}

.image-button-bottom-right {
    color: white;
    align-items: center;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    background-color: black;
    position: absolute !important;
    bottom: 0;
    right: 0;
    overflow: hidden;
    transition: color 0.4s ease;
    text-decoration: none !important;
}

.image-button-bottom-right::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0c73b2;
    transition: left 0.4s ease;
    z-index: 0;
}

.image-button-bottom-right:hover::before {
    left: 0;
}

.image-button-bottom-right:hover {
    color: white;
}

.image-button-bottom-right div {
    position: relative;
    z-index: 1;
}

.widget-wrap {
    padding: 50px 30px;
}

.grey-widget-wrap {
    padding: 50px 25px;
    height: 100%;
    background-color: #f7f7f7;
    position: relative;
    overflow: hidden;
    z-index: 10;
    transition: color 0.5s ease;
}

.grey-widget-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0c73b2;
    z-index: -1;
    transition: left 0.5s ease;
}

.grey-widget-wrap:hover::before {
    left: 0;
}

.grey-widget-wrap:hover {
    color: #fff !important;
}

.grey-widget-wrap:hover p {
    color: white;
}

.grey-widget-wrap:hover .text-color {
    color: white;
    transition-delay: 0.1s;
}

.grey-widget-wrap:hover .arrow {
    background-color: #f7f7f7;
    color: #0c73b2;
    transition-duration: 0.5s;
    border-left: 1px solid #eee;
}

.grey-widget-text {
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
}

.machine-widget {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: 100%;
}

.arrow {
    background-color: #0c73b2;
    color: white;
    padding: 10px 20px 10px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    border-left: 1px solid #0c73b2;
    text-decoration: none;
}

.arrow:hover {
    text-decoration: none;
}

.solutions {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 18px;
    background-color: white;
    position: absolute !important;
    bottom: 0;
    left: 0;
    border-left: 1px solid #eee;
}

.product-wrap {
    padding: 0 50px;
}

.product-image-wrap {
    position: relative;
    display: inline-block;
}

.image-arrow {
    background-color: white;
    color: #0c73b2;
    padding: 10px 20px 10px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    align-items: center;
    font-size: 18px;
    overflow: hidden;
    transition: color 0.4s ease;
    text-decoration: none !important;
}

.image-arrow::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0c73b2;
    transition: left 0.4s ease;
    z-index: 0;
}

.image-arrow:hover::before {
    left: 0;
}

.image-arrow:hover {
    color: white;
}

.image-arrow div {
    position: relative;
    z-index: 1;
}

.solution-link {
    display: block;
    color: black;
    position: relative;
}

.solution-link:hover {
    color: #0c73b2;
    text-decoration: none;
}

.hover-arrow {

    text-decoration: none;
}

.solution-link::after {
    font-family: "FontAwesome";
    content: "\f061";
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: opacity 0.3s, right 0.3s;
}

.solution-link:hover::after {
    opacity: 1;
    right: 0;
}

.underline-link {
    color: #444;
    text-decoration: none;
    position: relative;
    letter-spacing: 1px;
}

.underline-link:hover {
    color: #444;
    text-decoration: none;
}

.underline-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #0c73b2;
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}

.underline-link:hover::before {
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.underline-link:hover::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #0c73b2;
    transform: scaleX(0);
    transform-origin: bottom left;
    animation: reappear 0.3s ease 0.3s forwards;
}

@keyframes reappear {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.underline-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #0c73b2;
}

.col-customer {
    padding: 0 75px !important;
    max-height: 630px;
}

.customer-wrap {
    padding: 0 15px;
    height: 100%;
    background-color: #eee;
}

.nut-container {
    position: relative;
    width: 100%;
}

.nut-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.nut-wrapper.visible {
    opacity: 1;
    transform: translateY(0);
}

.nut-wrapper:nth-child(1) {
    top: 120px;
}

.nut-wrapper:nth-child(2) {
    top: 70px;
    transition-delay: 0.5s;
}

.nut-wrapper:nth-child(3) {
    top: 50px;
    transition-delay: 1s;
}

.become-a-customer {
    position: absolute;
    bottom: 50px;
    left: 90px;
    padding-right: 60px;
}

.customer-arrow {
    left: 75px
}

.upparCasetextTransform {
    text-transform: uppercase !important;
}

.card-arrow {
    color: white;
    align-items: center;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    background-color: black;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease;
    text-decoration: none !important;
}

.card-arrow::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0c73b2;
    transition: left 0.4s ease;
    z-index: 0;
}

.card-arrow::after {
    font-family: "FontAwesome";
    content: "\f061";
    font-size: 18px;
    margin-left: 10px;
    color: white;
    z-index: 1;
}

.card-arrow:hover::before {
    left: 0;
}

.card-arrow:hover {
    color: white;
}

.company-strength-padding {
    padding-bottom: 200px;
}

.company-strength-margin-1 {
    margin-top: -100px;
}

.company-strength-margin-3 {
    margin-top: 100px;
}

.client {
    display: block;
    width: 100%;
    height: auto;
}

.client4 {
    width: 90%;
}

.line-1-2 {
    left: 50%;
}

.history-container {
    padding: 0 55px 0 150px !important;
    display: flex;
    align-items: center;
    justify-content: start;
}

.history-container-right {
    padding: 0 150px 0 60px !important;
    display: flex;
    align-items: center;
    justify-content: start;
}

.history-image {
    padding: 0 60px !important;
}

.scroll2moveup {
    transition: transform 0.3s ease-out;
}

.scroll2movedown {
    transition: transform 0.3s ease-out;
}

.scroll2moveup-lg {
    transition: transform 0.3s ease-out;
}

.scroll2movedown-lg {
    transition: transform 0.3s ease-out;
}

.top-border {
    border-top: 1px solid #eee;
}

.bottom-border {
    border-bottom: 1px solid #eee;
}

.bottom-border-lg {
    border-bottom: 1px solid #eee;
}

.color-block {
    width: 100%;
    height: 100%;
    background-color: #0c73b2;
}

hr {
    border: none !important;
    height: 1px !important;
    background-color: #eee;
    margin: 0px 0 !important;
}

.sticky-logo {
    display: none;
}

.solution-banner-text {
    padding: 12% 17% 12% 5%;
    line-height: 1.5;
    font-weight: 300;
    font-size: 20px !important;
}

.products-intro {
    line-height: 1.5;
    font-weight: 300;
    font-size: 20px !important;
}

.black-white-background {
    background: linear-gradient(to bottom, black 40%, white 0% 40%, white 100%);
}

.video {
    width: 100%;
    display: block;
    cursor: pointer;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.solution-image-1 {
    margin-top: 200px;
}

.solution-image-2 {
    margin-top: 400px;
}

.product-banner-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1308 / 1546;
    overflow: hidden;
}

.die-cast-banner-container {
    aspect-ratio: 738 / 670;
}

.manifold-banner-container {
    aspect-ratio: 2560 / 1030;
}

.product-banner-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.product-banner-container img.active {
    opacity: 1;
}

.customDiv {
    margin: 0 0 20px;
}

.address {
    color: #000000 !important;
}

.address:hover {
    color: #0c73b2 !important;
    text-decoration: none;
}

.underline {
    padding-top: 5px;
    text-decoration: underline;
}

.upparCasetextTransformed {
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

.upparCasetextTransformed::after {
    content: '';
    display: block;
    height: 2px;
    background: #0c73b2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.upparCasetextTransformed:hover::after {
    transform: scaleX(1);
}

/* Form */
.elementor-widget-container {
    background-color: #f9f9f9;
    padding: 0 5px;
}

.elementor-form-fields-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.elementor-field-group {
    flex: 0 0 50%;
    padding: 20px;
}

.elementor-field-group.elementor-col-100 {
    flex: 0 0 100%;
}

.elementor-field-label {
    display: block;
    margin-bottom: 5px;
}

.elementor-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.elementor-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.elementor-button:hover {
    background-color: #0c73b2;
}

.checkmark p {
    display: flex;
}

.checkmark p::before {
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 20px;
    color: #0c73b2;
    margin-right: 10px;
}

.intro-container {
    background-color: #f7f7f7;
    position: relative;
    min-height: 470px;
}

.solutions-img1-margin {
    margin-top: -200px;
}

.solutions-img2-margin {
    margin-top: -200px;
}

.machine-img1-margin {
    margin-top: -265px;
}

.machine-img2-margin {
    margin-top: -130px;
}

.icon {
    width: 80px;
    margin-bottom: 20px;
}

.products-image {
    display: block;
    width: 100%;
    height: auto;
    padding: 25px 25px;
}

.show-more-button {
    cursor: pointer;
    width: 100%;
    height: 100px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-more-button:hover {
    color: #0c73b2;
}

.horizontal-line-md {
    display: none;
}

.horizontal-line-lg {
    display: none;
}

.product-name {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
}

.push-pull-container {
    padding: 50px 10%;
}

.award-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
}

.our-edge-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px 0;
}

.our-edge-image-wrap {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}

.our-edge-wrap .underline-link {
    width: fit-content;
}

.our-edge-wrap .underline-link {
    margin-top: auto;
}

.grey-border {
    background-color: #4b4b4b;
}

.bg-black {
    background-color: black;
}

.toggle-container {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-container h3 {
    margin: 0;
}

.toggle-container.active h3 {
    margin-bottom: 8px;
}

.toggle-container .toggle-arrow {
    transition: transform 0.3s ease;
}

.toggle-container h3 {
    transition: margin-bottom 0.3s ease-out;
}

.toggle-container.active .toggle-arrow {
    transform: rotate(90deg);
}

.toggle-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.toggle-content.open {
    max-height: 100px;
    opacity: 1;
}

.rd-img {
    max-width: 100%;
    transition: transform 0.1s linear;
}

.solution-wrap {
    padding: 25px 50px !important;
    height: 150px !important;
    display: flex;
    border: 1px solid #4b4b4b;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.gom-wrap {
    border-left: none;
}

.hardness-wrap {
    border-left: none;
}

.card-arrow h5 {
    position: relative;
    z-index: 1;
}

.company {
    font-size: 16px;
}

.award {
    font-size: 24px;
}

.slick-container {
    width: 100%;
    margin: auto;
    position: relative;
}

.slick-slide img {
    width: 100%;
    object-fit: cover;
    position: relative;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
}

.slick-prev {
    left: 20px;
}

.slick-next {
    right: 20px;
}

.slick-prev:before,
.slick-next:before {
    background: #0c73b2;
    color: white;
    padding: 10px 13px;
    border-radius: 25px;
    opacity: 1;
    font-size: 16px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f104";
}

.slick-next:before {
    content: "\f105";
}

.footer {
    color: white;
    line-height: 1.8;
}

.footer p {
    color: white;
}

.info-wrap a {
    color: white;
    text-decoration: none;
}

.terms {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.terms a {
    color: white;
    text-decoration: none;
    font-size: 0.8em !important;
    font-weight: 300 !important;
}

.terms li:nth-child(1) a {
    font-size: 1rem !important;
    font-weight: 400 !important;
}

.terms li:nth-child(2) {
    padding-left: 25px;
}

.terms li:nth-child(3) {
    padding-left: 25px;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #0c73b2;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1000;
}

#scrollToTopBtn:hover {
    color: #0c73b2;
    background-color: white;
    border: 1px solid #0c73b2;
}