html {
    font-size: 16px;
}

.slash-title {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title {
    font-size: 40px;
    /* text-transform: capitalize; */
    line-height: 1.2;
    font-weight: 300;
}

.home-title {
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.2;
    font-weight: 200;
}

body {
    font-family: "Roboto" !important;
    color: black !important;
    /* letter-spacing: 0.3px !important; */
    overflow-x: hidden !important;
}

p {
    font-size: 16px !important;
    font-weight: 300;
    color: #444;
}

p.text-white {
    color: #fff !important;
}

.text-white, .text-white * {
    color: #fff;
}

a {
    font-size: 16px !important;
    font-weight: 300 !important;
}

h3 {
    font-size: 1.7rem !important;
    font-weight: 300 !important;
}

.slogan {
    font-size: 17px !important;
    font-weight: bold;
    /* text-transform: capitalize; */
}

.button {
    letter-spacing: 1px;
}

.container {
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

.line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #eee;
    /* z-index: -1; */
}

.line-left {
    left: 0;
}

.line-1-3 {
    left: 33.33%;
}

.line-2-3 {
    left: 66.67%;
}

.line-right {
    right: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 25px !important;
    padding-left: 25px !important;
}

.row {
    margin-right: -25px !important;
    margin-left: -25px !important;
}

.section-padding {
    padding: 50px 25px;
}

.section-padding-lg {
    padding: 100px 25px;
}

.padding-top{ 
    padding-top: 100px !important;
}

.padding-bottom {
    padding-bottom: 100px !important;
}

.text-color {
    color: #0c73b2;
}

.banner-container{
    width: 100%;
    position: relative;
    display: inline-block;
    transition: transform 0.2s ease;
    height: auto;
    min-height: 400px;
    object-fit: cover;
}

.image-container{
    position: relative;
    /* display: inline-block; */
    transition: background-size 0.2s ease;
    overflow: hidden;
    min-height: 400px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.image-button {
    color: white;
    align-items: center;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    background-color: black;
    position: absolute !important;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: color 0.4s ease;
    text-decoration: none !important;
}
  
.image-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0c73b2;
    transition: left 0.4s ease;
    z-index: 0;
}

.image-button:hover::before {
    left: 0;
}

.image-button:hover {
    color: white;
}

.image-button div {
    position: relative;
    z-index: 1;
}

.image-button-white {
    color: black;
    align-items: center;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    background-color: white;
    position: absolute !important;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: color 0.4s ease;
    text-decoration: none !important;
}
  
.image-button-white::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0c73b2;
    transition: left 0.4s ease;
    z-index: 0;
}

.image-button-white:hover::before {
    left: 0;
}

.image-button-white:hover {
    color: white;
}

.image-button-white div {
    position: relative;
    z-index: 1;
}

.image-button-bottom-right {
    color: white;
    align-items: center;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    background-color: black;
    position: absolute !important;
    bottom: 0;
    right: 0;
    overflow: hidden;
    transition: color 0.4s ease;
    text-decoration: none !important;
}
  
.image-button-bottom-right::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0c73b2;
    transition: left 0.4s ease;
    z-index: 0;
}

.image-button-bottom-right:hover::before {
    left: 0;
}

.image-button-bottom-right:hover {
    color: white;
}

.image-button-bottom-right div {
    position: relative;
    z-index: 1;
}

.widget-wrap {
    padding: 50px 30px;
}

.grey-widget-wrap {
    padding: 50px 25px;
    height: 100%;
    background-color: #f7f7f7;
    position:relative;
    overflow: hidden;
    z-index: 10;
    transition: color 0.5s ease;
}

.grey-widget-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0c73b2;
    z-index: -1;
    transition: left 0.5s ease;
}

.grey-widget-wrap:hover::before {
    left: 0;
}

.grey-widget-wrap:hover {
    color: #fff !important;
}

.grey-widget-wrap:hover p {
    color: white;
}

.grey-widget-wrap:hover .text-color {
    color: white;
    transition-delay: 0.1s;
}

.grey-widget-wrap:hover .arrow {
    background-color: #f7f7f7;
    color: #0c73b2;
    transition-duration: 0.5s;
    border-left: 1px solid #eee;
    /* border-bottom: 1px solid #eee; */
}

.grey-widget-text {
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
}

.machine-widget {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: 100%;
}

.arrow {
    background-color: #0c73b2;
    color: white;
    padding: 10px 20px 10px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    border-left: 1px solid #0c73b2;
    text-decoration: none;
}
.arrow:hover {
    text-decoration: none;
}

.solutions {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 18px;
    background-color: white;
    position: absolute !important;
    bottom: 0;
    left: 0;
    border-left: 1px solid #eee;
}

.product-wrap {
    padding: 0 50px;
}

.product-image-wrap {
    position: relative;
    display: inline-block;
}

.image-arrow {
    background-color: white;
    color: #0c73b2;
    padding: 10px 20px 10px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    align-items: center;
    font-size: 18px;
    overflow: hidden;
    transition: color 0.4s ease;
    text-decoration: none !important;
}
  
.image-arrow::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0c73b2;
    transition: left 0.4s ease;
    z-index: 0;
}

.image-arrow:hover::before {
    left: 0;
}

.image-arrow:hover {
    color: white;
}

.image-arrow div {
    position: relative;
    z-index: 1;
}

.solution-link {
    display: block;
    color: black;
    position: relative;
}

.solution-link:hover {
    color: #0c73b2;
    text-decoration: none;
}

.hover-arrow {

    text-decoration: none;
}

.solution-link::after {
    content: "→";
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: opacity 0.3s, right 0.3s;
}

.solution-link:hover::after {
    opacity: 1;
    right: 0;
}

.underline-link {
    color: #444;
    text-decoration: underline;
    text-decoration-color: #0c73b2;
    text-underline-offset: 5px;
    position: relative;
    letter-spacing: 1px;
}

.underline-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: #0c73b2;
    transition: width 0.5s ease;
  }
  
  .underline-link:hover::after {
    width: 100%;
  }

.underline-link:hover {
    color: black;
    text-decoration: none;
    /* text-decoration-color: #0c73b2;
    text-underline-offset: 5px; */
}

.col-customer{
    padding:0 75px !important;
    max-height: 630px;
}

.customer-wrap {
    padding: 0 15px;
    height: 100%;
    background-color: #eee;
}

.nut-container {
    position: relative;
    width: 100%;
}

.nut-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.nut-wrapper.visible {
    opacity: 1;
    transform: translateY(0);
}

.nut-wrapper:nth-child(1) {
    top: 120px;
}
.nut-wrapper:nth-child(2) {
    top: 70px;
    transition-delay: 0.5s;
}
.nut-wrapper:nth-child(3) {
    top: 50px;
    transition-delay: 1s;
}

.become-a-customer {
    position:absolute;
    bottom:50px;
    left:90px;
    padding-right: 60px;
}

.customer-arrow {
    left: 75px 
}

.upparCasetextTransform{
    text-transform: uppercase !important;
}

.card-arrow {
    color: white;
    align-items: center;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    background-color: black;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease;
    text-decoration: none !important;
}
  
.card-arrow::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0c73b2;
    transition: left 0.4s ease;
    z-index: 0;
}

.card-arrow::after {
    content: "→";
    font-size: 18px;
    margin-left: 10px;
    color: white;
    z-index: 1;
}

.card-arrow:hover::before {
    left: 0;
}

.card-arrow:hover {
    color: white;
}

.company-strength-padding {
    padding-bottom: 200px;
}

.company-strength-margin-1 {
    margin-top: -100px;
}

.company-strength-margin-3 {
    margin-top: 100px;
}

.client {
    display: block;
    width: 100%;
    height: auto;
}

.line-1-2{
    left: 50%;
}

.history-container {
    padding: 0 55px 0 150px !important;
    display: flex;
    align-items: center;
    justify-content: start;
}

.history-container-right {
    padding: 0 150px 0 60px !important;
    display: flex;
    align-items: center;
    justify-content: start;
}

.history-image {
    padding: 0 60px !important;
}

.scroll2moveup {
    transition: transform 0.3s ease-out;
}

.scroll2movedown {
    transition: transform 0.3s ease-out;
}

.top-border {
    border-top: 1px solid #eee;
}

.bottom-border {
    border-bottom: 1px solid #eee;
}

.color-block {
    width: 100%;
    height: 100%;
    background-color: #0c73b2;
}

hr {
    border: none !important;
    height: 1px !important;
    background-color: #eee;
    margin: 0px 0 !important;
}

.sticky-logo {
    display: none;
}

.solution-banner-text{
    padding: 12% 17% 10% 5%;
    line-height: 1.5;
    font-weight: 300;
    font-size: 20px !important;
}

.products-intro {
    line-height: 1.5;
    font-weight: 300;
    font-size: 20px !important;
}

.black-white-background{
    background: linear-gradient(to bottom, black 40%, white 0% 40%, white 100%);
}

.video {
    width: 100%;
    /* height: 500px; */
    display: block;
    cursor: pointer;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 = 0.5625) */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.solution-image-1 {
    margin-top: 200px;
}

.solution-image-2 {
    margin-top: 400px;
}

.product-image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1308 / 1546;
    overflow: hidden;
}

.die-cast-image-container {
    aspect-ratio: 738 / 670;
}

.manifold-image-container {
    aspect-ratio: 2560 / 1030;
}

.product-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.product-image-container img.active {
    opacity: 1;
}

.hover-link {
    cursor: pointer;
    padding: 15px 0;
}

.hover-link:hover {
    color:#0c73b2;
}

.customDiv{
    margin: 0 0 30px;
}

.address{
    color:#000000 !important;
}
.address:hover{
    color:#0c73b2 !important;
    text-decoration:none;
}
.underline{
    padding-top:5px;
    text-decoration:underline;
}
.upparCasetextTransformed {
    text-transform: uppercase; 
    -webkit-font-smoothing: antialiased;
    position: relative;
    /* text-decoration: underline;
    text-decoration-color: #0c73b2; */
}

.upparCasetextTransformed::after {
    content: ''; /* Create an empty pseudo-element */
    display: block; /* Make it block-level */
    height: 2px; /* Set the thickness of the underline */
    background: #0c73b2; /* Set underline color */
    position: absolute; /* Position it absolutely */
    left: 0; /* Align it to the left */
    right: 0; /* Align it to the right */
    bottom: -5px; /* Adjust this value to control the space */
    transform: scaleX(0); /* Start with no underline */
    transition: transform 0.3s ease; /* Smooth transition */
}

.upparCasetextTransformed:hover::after {
    transform: scaleX(1); 
}

/* Form */
.elementor-widget-container {
    background-color: #f9f9f9; /* Light background color */
    padding: 0 5px;
}

.elementor-form-fields-wrapper {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap */
}

.elementor-field-group {
    flex: 0 0 50%; /* Each field group takes 50% width (6 out of 12 columns) */
    padding: 20px; /* Optional: padding around each field */
}

.elementor-field-group.elementor-col-100 {
    flex: 0 0 100%; /* Textarea takes full width (12 out of 12 columns) */
}

.elementor-field-label {
    display: block; /* Labels are block elements */
    margin-bottom: 5px; /* Space between label and input */
}

.elementor-field {
    width: 100%; /* Make inputs and textarea take full width */
    padding: 10px; /* Padding inside inputs */
    border: 1px solid #ccc; /* Border for inputs */
    border-radius: 4px; /* Rounded corners for inputs */
}

.elementor-button {
    margin-top: 10px; /* Space above the button */
    background-color: #000000; /* Button background color */
    color: white; /* Button text color */
    border: none; /* No border for button */
    padding: 10px 20px; /* Padding for button */
    border-radius: 5px; /* Rounded corners for button */
    cursor: pointer; /* Pointer cursor on hover */
}

.elementor-button:hover {
    background-color: #0c73b2; /* Darker shade on hover */
}

.checkmark p {
    display: flex;
}

.checkmark p::before {
    content: '✓';
    font-size: 20px;
    color: #0c73b2; 
    margin-right: 10px;
}

.intro-container {
    background-color: #f7f7f7;
    position:relative
}

.solutions-img1-margin {
    margin-top: -200px;
}

.solutions-img2-margin {
    margin-top: -200px;
}

.machine-img1-margin {
    margin-top: -265px;
}

.machine-img2-margin {
    margin-top: -130px;
}

.icon{
    width: 80px;
    margin-bottom: 20px;
}

.products-image {
    display: block;
    width: 100%;
    height: auto;
    padding: 25px 25px;
}

.show-more-button {
    cursor: pointer;
    width: 100%;
    height: 100px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-more-button:hover {
    color:#0c73b2;
}

.horizontal-line {
    display: none;
}

.product-name {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    /* text-transform: capitalize; */
    font-weight: bold;
    text-align: center;
}

.push-pull-container {
    padding: 50px 10%;
}

.award-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
}